In [10]:
# Import library
from pandas import read_csv
import json

In [11]:
df = read_csv('../../word_dictionary_02.csv')
df.head()

     Word  Count  Stopword Fixed Word
0    game  15600     False        NaN
1     nya  12992      True        NaN
2     bug  11341     False        NaN
3  update   9742     False        NaN
4    pubg   7461     False        NaN

In [17]:
stopwords = df.loc[df['Stopword'] == True]
# stopwords['Word']

stopwords_dictionary = {}
for stopword in stopwords['Word']:
    stopwords_dictionary[stopword] = None
# len(stopwords_dictionary)

STOPWORDS_PATH = './stopwords_dict.json'
with open(STOPWORDS_PATH, mode='r+') as file:
        stopwords = json.load(file)
        stopwords.update(stopwords_dictionary)
        file.seek(0)                            # Empty dictionary
        json.dump(stopwords, file, indent=4)
# len(stopwords)