In [1]:
# Import library
from pandas import read_csv
import json

In [6]:
df = read_csv('../../word_dictionary_02.csv')
# df.head()
new_slangwords = df[~df['Fixed Word'].isna()]
new_slangwords

              Word  Count Stopword Fixed Word
0           aalias      1    False      alias
1          aalinya      1    False     alinya
2           aampun      1    False      ampun
3           aangat      1    False     sangat
4     aannjjeennkk      1    False     anjing
...            ...    ...      ...        ...
4654     extremfps      1    False    extreme
4655        extrim      7    False    extreme
4656       extrime      6    False    extreme
4657     extrimnya      1    False    extreme
4658        extrme      1    False    extreme

[1165 rows x 4 columns]

In [7]:
new_slangwords = df[~df['Fixed Word'].isna()]

slangword_dict = {}
for data in new_slangwords.values:
    slangword_dict[data[0]] = data[3]

# slangword_dict

with open('./slangwords_dict.json', mode='r+') as file:
    slangwords = json.load(file)
    slangwords.update(slangword_dict)
    file.seek(0)
    json.dump(slangwords, file, indent=4)